.statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}
.label {
  gap: 30px;
}
.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-block-end: 10px;
}

.item {
  width: 50px;
  border: 1px solid white;
}
